.App {
	padding: 40px 40px;
}

.dawg {
	max-width: 716.36px;
	height: 187.33px;
	border: 0 0 0 3px #eaeaea;
	margin: 0 0 1.5em;
	padding: 1em;
	box-shadow: 0 0 0 3px #f3f3f3;
	background: #ffffff;
}

.board {
	width: 456.36px;
	height: 174.261px;
	padding: 0px 190px 0px 100px ;
}

.truth {
	float:right;
	width: 140px;
	height: 153.352px;
	margin: -10px -160px 0px 0px;
}

.body {
	width: 456.36px;
	height: 174.261px;
}

.pic {
	margin: 3px 0px 0px -100px;
	width: 80px;
	height: 86.364px;
}

.topic {
	margin: -80px 0px 0px 0px;
	width: 456.36px;
	height: 23.636px;
	color: #B42628;
	text-align: justify;
	font-family: Arial;
	font-size: 22px;
	color: #B42628;
	font-weight: bold;
	line-height: 10px;
}

.headline{
	width: 456.36px;
	height: 118.182px;
	margin: 0px 0px 0px 0px;
	line-height: 25px;
	font-family: Arial;
	text-align: justify;
}

.loader-wheel {
  font-size: 50px; /* change size here */
  position: relative;
  height: 1em;
  width: 1em;
  padding-left: 0.45em;
  overflow: hidden;
  margin: 0 auto;
  animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
  display: block;
  position: absolute;
  height: 0.3em;
  width: 0.1em;
  border-radius: 0.05em;
  background: #333; /* change color here */
  opacity: 0.8;
  transform: rotate(-30deg);
  transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
